<h2>New celebrity</h2>

<form action="/celebrities/create" method="post">
<input type="text" name="Celebrity">
<input type="text" occupation="Occupation">
<input type="text" catchPhrase="Catch phrase">

<button type="submit">Search for a Celebrity</button>
</form>